<div class="table-responsive">
  <table class="table">
  	<thead>
  		<tr>
  			<th>ID de usuario</th>
  			<th>Nombre</th>
  			<th>Perfil</th>
  			<th>Fecha de &uacute;ltimo ingreso</th>
  			<th>Estatus del usuario</th>
  		</tr>
  	</thead>
  		<tr>
  			<td>  				
				<p><%= idUser%></p>					
  			</td>
  			<td>
  				<p><%= name%></p>
  			</td>
  			<td>
  				<p><%= profile%></p>
  			</td>
  			<td>
  				<p><%= lastLoginDate%></p>
  			</td>
  			<td>
  				<p><%= status%></p>
  			</td>
  		</tr>  	
  </table>
</div>